body {
  background-color: rgba(250, 247, 253, 1);
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: absolute;
}

.profile {
  display: flex;
  width: 213px;
  height: 213px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile > img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  padding: 3px;
  border: solid 2px rgba(187, 153, 221, 1);
}
p {
  font-size: 16px;
  color: rgba(187, 153, 221, 1);
  font-weight: bold;
}
.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.links > a {
  color: rgba(187, 153, 221, 1);
  box-sizing: border-box;
  width: 326px;
  height: 49px;
  border: solid 3px rgba(187, 153, 221, 1);
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 13px;
  font-weight: bold;
}

.social-media {
  display: flex;
  width: 236px;
  height: 24px;
  margin-top: 40px;
  justify-content: space-around;
}

.container > a {
  text-decoration: none;
}
